<!DOCTYPE html>
<html>

<head>
  <%- await include('views/bootstrap.ejs', {}) %>

    <style>
      body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
        background-image: radial-gradient(white, lightskyblue);
      }

      .content {
        flex-grow: 1;
      }

      .img-text-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
      }

      .text-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .pranav-pic {
        max-width: 250px;
        width: 100%;
        height: auto;
        align-self: center;
      }

      .quote {
        max-width: 450px;
      }
    </style>
</head>

<body>
  <%- await include('views/navbar.ejs', {}) %>
    <div class="container mb-3 content img-text-container">
      <img src="/pranav_pic.jpg" class="rounded pranav-pic mt-3" />
      <div class="text-container mt-3">
        <h1 class="text-center display-1"><b>Pranav's Site</b></h1>
        <figure>
          <blockquote class="blockquote quote">
            <p>We live on this speck called Earth - think about what you might do,
              today or tomorrow - and make the most of it.</p>
          </blockquote>
          <figcaption class="blockquote-footer text-end">
            <b>Neil deGrasse Tyson</b>
          </figcaption>
        </figure>
      </div>
    </div>
    <%- await include('views/footer.ejs', {}) %>
</body>

</html>